<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録内容の確認</title>
</head>
<body>
  <h1>登録内容の確認</h1>
  <a1>こちらの内容で登録してもよろしいでしょうか？</a1>
  <form th:action="@{/signup/register}" th:object="${adminForm}" method="post">
    <table border="1">
      <tr>
        <td>姓</td>
        <td>
          <span th:text="*{lastName}"></span>
        </td>
      </tr>
      <tr>
        <td>名</td>
        <td>
          <span th:text="*{firstName}"></span>
        </td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td>
          <span th:text="*{email}"></span>
        </td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td>
          <span th:text="*{password}"></span>
        </td>
      </tr>
      </table>
      <input type="submit" value="送信">
  </form>
</body>
</html>