<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>お問い合わせ一覧</title>
</head>
<body>
<h1>お問い合わせ一覧</h1>
<table border="1">
    <tr>
        <th>お問い合わせID</th>
        <th>姓</th>
        <th>名</th>
        <th>お問い合わせ種別</th>
        <th>作成日時</th>
        <th>更新日時</th>
        <th>編集</th>
    </tr>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}">1</td>
        <td th:text="${contact.lastName}">姓</td>
        <td th:text="${contact.firstName}">名</td>
        <td th:text="${contact.contactType}">お問い合わせ種別</td>
        <td th:text="${contact.created}">作成日時</td>
        <td th:text="${contact.updated}">更新日時</td>
        <td>
            <a th:href="@{/admin/contacts/{id}(id=${contact.id})}">詳細</a>
            </form>
        </td>
    </tr>
</table>
</body>
<form th:action="@{/logout}" method="post">
	<input type="submit" value="ログアウト">
</form>
</html>