<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>編集画面</title>
</head>
<body>
<h1>お問い合わせ編集画面</h1>
<form th:action="@{'/admin/contacts/' + ${contact.id} + '/edit'}" method="post">
    姓: <input type="text" name="lastName" th:value="${contact.lastName}" /><br/>
    名: <input type="text" name="firstName" th:value="${contact.firstName}" /><br/>
    メールアドレス: <input type="email" name="email" th:value="${contact.email}" /><br/>
    電話番号: <input type="text" name="phone" th:value="${contact.phone}" /><br/>
    郵便番号:<input type="text" name="zipCode" th:value="${contact.zipCode}" /><br/>
    住所:<input type="text" name="address" th:value="${contact.address}" /><br/>
    建物名:<input type="text" name="buildingName" th:value="${contact.buildingName}" /><br/>
    お問い合わせ種別:
    <select name="contactType" th:value="${contact.contactType}">
        <option value="services" th:selected="${contact.contactType == 'services'}">サービスに関するお問い合わせ</option>
        <option value="technicalQuestions" th:selected="${contact.contactType == 'technicalQuestions'}">技術的なお問い合わせ</option>
        <option value="others" th:selected="${contact.contactType == 'others'}">その他</option>
    </select><br/>
    内容:<textarea name="body" th:text="${contact.body}"></textarea><br/>
     
    <input type="submit" value="アップデート"/>
</form>
<form th:action="@{'/admin/contacts/' + ${contact.id} + '/delete'}" method="post">
    <input type="submit" value="削除"/>
</form>
<form th:action="@{/logout}" method="post">
	<input type="submit" value="ログアウト">
</form>
</body>
</html>